requests
fastapi
uvicorn
pydantic
sqlalchemy
pytest
python-dotenv
django
djangorestframework
passlib
httpx
google-genai
google-generativeai
zeep
asyncio
sqlmodel
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
email-validator